<div class="slx-container">
  <mat-progress-bar
    *ngIf="showIndicatorAction$ | async"
    class="slx-indicator"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>
  <mat-toolbar color="primary">
    <button class="slx-sidenav-toggle" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>SX Horizon</span>
  </mat-toolbar>
  <mat-drawer-container class="slx-sidenav-container">
    <mat-drawer
      #drawer
      class="slx-sidenav"
      [opened]="!isScreenSmall"
      [mode]="isScreenSmall ? 'over' : 'side'"
    >
      <slx-sidenav></slx-sidenav>
    </mat-drawer>
    <div class="slx-sidenav-content">
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
