<div class="slx-container" [@fadeIn]>
  <mat-card>
    <mat-card-content>
      <div class="slx-title">
        <mat-icon>person</mat-icon>
        <h3>132</h3>
      </div>
      <span>Pacientes</span>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="slx-title">
        <mat-icon>person</mat-icon>
        <h3>132</h3>
      </div>
      <span>Pacientes</span>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="slx-title">
        <mat-icon>person</mat-icon>
        <h3>132</h3>
      </div>
      <span>Pacientes</span>
    </mat-card-content>
  </mat-card>
</div>
